# Dependencies
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build Artifacts
output.html
debug.json
*.tgz
dist/

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Local Testing Files (Ignored for clean package)
input.kv
test.kv

# Metadata
PROJECT_CONTEXT.md
.gemini/
